In [41]:
import pandas as pd
import numpy as np

In [2]:
data_folder = "../data/"

In [51]:
def push_nans_to_bottom(df):
    for col in df.columns:
        non_nans = df[col].dropna()
        nans = df[col].isna().sum()
        df[col] = pd.concat([non_nans, pd.Series([np.nan] * nans)], ignore_index=True)
    return df

In [10]:
df1 = pd.read_excel(data_folder + 'data_MB_genes_Northcott2017.xlsx', "Northocott2017_genetics")

In [11]:
df2 = pd.read_excel(data_folder + 'data_MB_genes_Northcott2017.xlsx', "Lin2016_TFs")

In [58]:
df = pd.concat([df1, df2], ignore_index=True)

In [59]:
# Apply the function
df = push_nans_to_bottom(df)

# Replace NaN with empty strings
df = df.fillna('')

# Drop rows that are completely empty (all columns are NaN or empty)
df = df.replace('', np.nan).dropna(how='all')

# Replace NaN with empty strings
df = df.fillna('')

In [60]:
df

        WNT      SHH       G3      G4
0    CTNNB1    PTCH1      MYC   PRDM6
1       APC     SUFU  SMARCA4   KMT2D
2    CSNK2B      SMO    GFI1B   KMT2C
3    ARID1A    KMT2D      ATM   KDM6A
4     ARID2    KMT2C     PTEN   ZMYM3
5       ATM   CREBBP   KBTBD4   MED12
6    PIK3CA     GSE1      CRX   GFI1B
7      BAI3     BCOR      HLX    MYCN
8     EPHA7     GLI2     IRX6    OTX2
9     DDX3X     TCF4     LHX9    ZIC1
10  SYNCRIP     TERT   NKX3-2    GFI1
11     ALX4     TP53             TBR1
12     DLX3    BRCA2            BRCA2
13     DLX4     PTEN           KBTBD4
14     EMX2  PRKAR1A             CDK6
15      EN1    EPHA7           ARID5B
16    FOXF1    FBXW7           BARHL1
17    HOMEZ    DDX3X             CUX2
18    HOXC4     IDH1             DLX5
19    HOXC5    ATOH1              EN2
20   HOXD11      BBX            EOMES
21   HOXD13    CEBPA            FOXP2
22    HOXD8   DMRTA1             LHX1
23    HOXD9   NFATC1             LHX2
24     IRX2     PBX1             LHX5
25     IRX5   POU3F3            LMX1A
26     LEF1   POU6F2           POU2F1
27     LHX8     RARB             SIX1
28      MAF    SOX13             SIX6
29     MSX2     SOX2             TAL1
30   NKX6-1    TBX18             UNCX
31  ONECUT2
32     OSR2
33     PAX3
34    PITX1
35    PRRX1
36    RUNX2
37    SHOX2

In [64]:
df.to_csv("../data/Northcott_Lin_genes.csv", index=False)